.box {
  background-image: url(dog.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;    
}
p{
  position: fixed;
  bottom: 30px;
  right: 37px;
  font-family: monospace, 'Courier New', Courier;
  font-size: 30px;
  text-shadow: 2px 2px #aec3b0;
}
.title{
  position: fixed;
  left: 80px;
  right: 37px;
  font-family: monospace, 'Courier New', Courier;
  font-size: 30px;
  text-shadow: 2px 2px #aec3b0;
}