.fullNavbar{
    position: fixed;
    width: 100%;
}
.bodyCards{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}
.cards{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}