.navbar{
    width: 100%;
    margin: 0px -14px 0px 0px;
}
.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainForm{
    width: 90%;
    height: 80vh;
    border: solid 2px #9B9B7A;
    background-color: #cad2c5;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    margin: 17px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 87%;
}
.mainForm h3{
    color: black;
    font-family: monospace, 'Courier New', Courier;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
.labelInput{
    display: flex;
    flex-direction: column;
    align-items: center
}
.labelTemp{
    margin: 7px;
    font-family: monospace, 'Courier New', Courier;
    font-size: 13px;
}
.selectTemp{
    margin: 7px;
    padding: 7px;
    width: 57%;
    background-color: #B6BFB0;
    border: 1px solid #9B9B7A;
    border-radius: 7px;
    font-family: monospace, 'Courier New', Courier;
    font-size: 13px;
}
.selectTemp:hover{
    cursor: pointer;
    box-shadow: 0 0 10px grey
}
.selected{
    display: flex;
    flex-wrap: wrap;
}
.selDiv{
    display: flex;
    justify-content: space-between;
    width: auto;
    border: 1px solid #9B9B7A;
    border-radius: 7px;
    margin: 7px;
    padding: 7px;
}
.selDiv span{
    margin-right: 5px;
    font-size: 13px;
}
.deleteTemp{
    font-size: 7px;
    background-color: #B6BFB0;
    border: 1px solid #9B9B7A;
}
.deleteTemp:hover{
    cursor: pointer;
    font-size: 7px;
    background-color: #9B9B7A;
    border: 1.5px solid #9B9B7A;
}
input{
    margin: 7px;
    padding: 7px;
    width: 80%;
    background-color: #B6BFB0;
    border: 1px solid #9B9B7A;
    border-radius: 7px;
    font-family: monospace, 'Courier New', Courier;
    font-size: 13px;
}
.submit{
    position: absolute;
    bottom: 47px;
    padding: 10px;
    background-color: #B6BFB0;
    font-size: 12px;
    border: 1px solid #9B9B7A;
    border-radius: 7px;
}
.submit:hover{
    cursor: pointer;
    box-shadow: 0 0 10px grey
}