.mainContainer{
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainDiv{
    display: flex;
    justify-content:space-around;
    background-color: #cad2c5;
    border: solid 2px #9B9B7A;
    box-shadow: 0 0 10px grey;
    border-radius: 17px;
    width: 90%;
    height: 75vh;
    padding: 20px;
    margin: 20px;
}
.leftDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85vh;
}
.leftDiv h2{
    color: black;
    font-family: monospace, 'Courier New', Courier;
    font-size: 25px;
    font-weight: bold;
    padding: 7px;
}
.leftDiv img {
    max-width: 80vh;
    max-height: 60vh;
    border-radius: 17px;
}
.rightDiv{
    width: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rightDiv h4{
    color: black;
    font-family: monospace, 'Courier New', Courier;
    font-size: 20px;
    font-style: italic;
    padding: 7px;
}
.fullTemp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fullTemp h4{
    margin-bottom: -5px;
}
.temperaments{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.temp{
    text-align: center;
    background-color: #cad2c5;
    border: solid 1px #9B9B7A;
    border-radius: 7px;
    margin: 10px;
    padding: 7px;
}
.rightTopDiv{
    margin: 10px;
    margin-top: 25%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.lifeSpan1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lifeSpan2{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.lifeSpan2 h4{
    margin-bottom: -5px;
}
span{
    color: black;
    font-family: monospace, 'Courier New', Courier;
    font-size: 18px;
}
.height{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.height h4{
    margin-bottom: -5px;
}
.weight{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weight h4{
    margin-bottom: -5px;
}
.backButtonDiv{
    display: flex;
    justify-content: center;
}
.backHome{
    background-color: #cad2c5;
    color: black;
    font-family: monospace, 'Courier New', Courier;
    font-size: 15px;
    border: solid #9B9B7A 2px;
    border-radius: 7px;
    padding: 10px;
}

.backHome:hover{
    box-shadow: 0 0 10px grey;
    cursor: pointer;
}